.btn {
	width: 156px;
}

.container {
	margin-top: 40px;
}

.err {
    color: red;
    display: none;	
    font-style: italic;
    margin: 1rem 0 0;
}

.form-control {
	border-color: #28a745;
}

.form-control:focus {
    border-color: #1e7e34;
    box-shadow: 0 0 0 0.2rem rgba(72,180,97,.5);
}

.galery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: auto;
    margin-top: 16px;
    width: 100%;
}

.gal-item {
	height:190px;
}

.input-group {
	width: 500px;
}

.input-group-text {
	background-color: #28a745;
	border-color: #28a745;
	color: black;
	width: 156px;
}
